body{
    background-color: grey;
}
.navbar-nav{
    padding: 4%;
}
.navbar-nav a{
    text-align: left;
    text-decoration: lightcoral;
}
.home {
    height: auto;
    width: auto;
    background-image: url("../images/back1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.hometext {
    text-align: center;
    color:black;
    margin-top: 400px;
    background-attachment: fixed;
}
#pizzasizes{
    height: 350px;
    width: 350px;
}